.git/
.github/
.gitignore
.vscode/
.coverage
.flake8
.pre-commit-config.yaml
.isort.cfg
.idea/
Makefile
.DS_Store
.pytest_cache
tests/
.venv
dotenv/
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
README.md
docker-compose.yml
**/venv
**/env
